/* Created by: Lily C
* Created on: 04/25/2023
* This CSS file defines the style for index.php
* Unit4-04-PHP-Museum
*/

body {
  background-color: lightcoral;
  padding-left: 20px; padding-right: 20px;
}

h1 {
  background-color: rgb(96 108 56);
  color: hsl(32deg 65% 62%);
  padding: 40px;
  text-align: center;
}

h3 {
  color: #FEFAE0;
}

p {
  background-color: #606C38;
  color: #FEFAE0;
}

iframe {
  background-color: #606C38;
  color: #FEFAE0;
}



