/* Created by: Lily C
* Created on: 04/25/2023
* This CSS file defines the style for index.php
* Unit4-04-PHP-Museum
*/

body {
  background-color: #be4b4b;
  padding-left: 20px; padding-right: 20px;
}

h1 {
  background-color: rgb(101 36 36);
  color: hsl(32deg 65% 62%);
  padding: 40px;
  text-align: center;
}

p {
  color: #FEFAE0;
}

iframe {
  background-color: #652424;
  color: #FEFAE0;
}
